.homeBody img {
    max-height: 740px;
}

/*.Alvand {*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    color: white;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/
/*.Alvand button {*/
/*    border: none;*/
/*    padding: 4%;*/
/*    outline: none;*/
/*    margin-top: 5%;*/
/*    border-radius: 50px;*/
/*    font-size: 15px;*/
/*}*/
/*.Alvand h1 {*/
/*    font-size: 2.5rem;*/
/*}*/
/*.Alvand h3 {*/
/*    font-size: 1.5rem;*/
/*    color: #CECECE;*/
/*}*/
/*.legend {*/
/*    background-color: rgba(0,0,0,0.8) !important;*/
/*}*/
header video {
    width: 100%;
    height: 100vh;
}
#myvid {
    object-fit: cover;
}
.BBBB {

}
.MenuContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.MenuContainer img {
    margin: 5% 3%;
}
.newsContainer {

    padding: 0 0 15%;

}
#newsTitle {
    margin: 2% 0 3% 0;
    text-align: center;
    color: #33A99B;
}
#newsTitle:before,
#newsTitle:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 4%;
}

#newsTitle:before {
    right: 0.5em;
    margin-left: -50%;
}

#newsTitle:after {
    left: 0.5em;
    margin-right: -50%;
}

.newsBox {
    width: 45%;
    margin: auto;
}
.newsPost {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 25px;
}
.newsPost img {
    overflow: hidden;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.newsCaption {
    padding: 2% 2% 2% 0;
    text-align: right;
}
.newsCaption a {
    text-decoration: none;
}
.newsCaption h3 {
    color: #33A99B;
    font-size: 1.1rem;
}
.newsCaption p, time {
    font-size: 0.9rem;
}
.newsCaption time {
    opacity: 0.7;
}
.aboutUsContainer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='600' preserveAspectRatio='none' viewBox='0 0 1900 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1263%26quot%3b)' fill='none'%3e%3cpath d='M0 130.19L10 187.9L20 237.2L30 188.69L40 243.66L50 245.6L60 176.74L70 226.36L80 178.8L90 250.2L100 177.09L110 234.5L120 265.72L130 259.04L140 232.02L150 222.29L160 210.16L170 283.75L180 247.95L190 301L200 284.19L210 256.32L220 190.31L230 184.8L240 190.22L250 214.21L260 266.92L270 251.75L280 278.4L290 293.1L300 277.04L310 301.56L320 331.39L330 397.31L340 424.69L350 453.23L360 456.16L370 443.59L380 388.04L390 452.53L400 404.54L410 362.17L420 296.27L430 298.7L440 291.23L450 306.43L460 251.13L470 249.01L480 201.25L490 212.96L500 184.43L510 159.1L520 108.24L530 59.79L540 25.06L550 35.54L560 66.73L570 111.65L580 113.37L590 174.96L600 222.12L610 187.25L620 128.5L630 194.64L640 195.62L650 216.89L660 157.45L670 109.13L680 63.06L690 89.45L700 125.58L710 117.07L720 151.27L730 101.39L740 172.04L750 187.05L760 126.57L770 81.55L780 55.87L790 67.48L800 96.14L810 147L820 169.84L830 202.01L840 275.04L850 290.76L860 255.52L870 217.93L880 168.94L890 178L900 214.57L910 251.74L920 280.94L930 234.99L940 222.6L950 273.87L960 290.01L970 336.16L980 293.69L990 224.89L1000 260.14L1010 264.95L1020 269.06L1030 311.7L1040 244.83L1050 244.37L1060 280.11L1070 232.33L1080 173.7L1090 164.54L1100 164.26L1110 168.03L1120 141.21L1130 137.95L1140 110.7L1150 53.24L1160 2.72L1170 49.99L1180 20.85L1190 55.98L1200 57.84L1210 130.32L1220 106.28L1230 174.82L1240 199.27L1250 176.68L1260 104.46L1270 54.93L1280 106.43L1290 167.61L1300 197.34L1310 160.69L1320 133.23L1330 163.55L1340 172.09L1350 158.76L1360 220.19L1370 207.32L1380 145.14L1390 127.01L1400 136.45L1410 209.58L1420 158.93L1430 221.64L1440 202.02L1450 235.35L1460 188.66L1470 120.46L1480 174.22L1490 239.73L1500 265.09L1510 190.7L1520 233.39L1530 226.36L1540 227.31L1550 203.26L1560 245.69L1570 226.74L1580 278.72L1590 292.86L1600 260.2L1610 238L1620 164.07L1630 167.71L1640 156.67L1650 92.61L1660 83.93L1670 140.44L1680 120.9L1690 84.05L1700 150.87L1710 202.61L1720 260.54L1730 319.73L1740 360.63L1750 380.9L1760 405.34L1770 417.03L1780 392.33L1790 453.5L1800 495.27L1810 494.14L1820 477.29L1830 443.75L1840 409.83L1850 418.24L1860 362.14L1870 346.26L1880 414.86L1890 452.57L1900 478.48' stroke='rgba(51%2c 169%2c 155%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 130.19L10 187.9L20 237.2L30 188.69L40 243.66L50 245.6L60 176.74L70 226.36L80 178.8L90 250.2L100 177.09L110 234.5L120 265.72L130 259.04L140 232.02L150 222.29L160 210.16L170 283.75L180 247.95L190 301L200 284.19L210 256.32L220 190.31L230 184.8L240 190.22L250 214.21L260 266.92L270 251.75L280 278.4L290 293.1L300 277.04L310 301.56L320 331.39L330 397.31L340 424.69L350 453.23L360 456.16L370 443.59L380 388.04L390 452.53L400 404.54L410 362.17L420 296.27L430 298.7L440 291.23L450 306.43L460 251.13L470 249.01L480 201.25L490 212.96L500 184.43L510 159.1L520 108.24L530 59.79L540 25.06L550 35.54L560 66.73L570 111.65L580 113.37L590 174.96L600 222.12L610 187.25L620 128.5L630 194.64L640 195.62L650 216.89L660 157.45L670 109.13L680 63.06L690 89.45L700 125.58L710 117.07L720 151.27L730 101.39L740 172.04L750 187.05L760 126.57L770 81.55L780 55.87L790 67.48L800 96.14L810 147L820 169.84L830 202.01L840 275.04L850 290.76L860 255.52L870 217.93L880 168.94L890 178L900 214.57L910 251.74L920 280.94L930 234.99L940 222.6L950 273.87L960 290.01L970 336.16L980 293.69L990 224.89L1000 260.14L1010 264.95L1020 269.06L1030 311.7L1040 244.83L1050 244.37L1060 280.11L1070 232.33L1080 173.7L1090 164.54L1100 164.26L1110 168.03L1120 141.21L1130 137.95L1140 110.7L1150 53.24L1160 2.72L1170 49.99L1180 20.85L1190 55.98L1200 57.84L1210 130.32L1220 106.28L1230 174.82L1240 199.27L1250 176.68L1260 104.46L1270 54.93L1280 106.43L1290 167.61L1300 197.34L1310 160.69L1320 133.23L1330 163.55L1340 172.09L1350 158.76L1360 220.19L1370 207.32L1380 145.14L1390 127.01L1400 136.45L1410 209.58L1420 158.93L1430 221.64L1440 202.02L1450 235.35L1460 188.66L1470 120.46L1480 174.22L1490 239.73L1500 265.09L1510 190.7L1520 233.39L1530 226.36L1540 227.31L1550 203.26L1560 245.69L1570 226.74L1580 278.72L1590 292.86L1600 260.2L1610 238L1620 164.07L1630 167.71L1640 156.67L1650 92.61L1660 83.93L1670 140.44L1680 120.9L1690 84.05L1700 150.87L1710 202.61L1720 260.54L1730 319.73L1740 360.63L1750 380.9L1760 405.34L1770 417.03L1780 392.33L1790 453.5L1800 495.27L1810 494.14L1820 477.29L1830 443.75L1840 409.83L1850 418.24L1860 362.14L1870 346.26L1880 414.86L1890 452.57L1900 478.48L1900 600L0 600z' fill='url(%23SvgjsLinearGradient1264)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1263'%3e%3crect width='1900' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1264'%3e%3cstop stop-opacity='0.65' stop-color='rgba(51%2c 169%2c 155%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23b5e9e3' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    background-repeat: no-repeat;
    padding: 15%;
    margin-top: -15%;

}
.aboutUs {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 26px;
    padding: 1%;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
}
.aboutUs img {
    width: 50%;
    height: auto;
}
.aboutUsCaption {
    padding: 2%;
    width: 40%;
}
.aboutUsCaption h1 {
    color: #33A99B;
}
.servicesContainer {
    margin-top: -10%;
}
.servicesContainer p {
    position: absolute;
}
#serviceTitle {
    margin: 0 0 3% 0;
    text-align: center;
    color: #33A99B;
}
#serviceTitle:before,
#serviceTitle:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 4%;
}

#serviceTitle:before {
    right: 0.5em;
    margin-left: -50%;
}

#serviceTitle:after {
    left: 0.5em;
    margin-right: -50%;
}
.Services {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Service {
    display: flex;
    flex-direction: column ;
    width: 18%;
    margin: 0 4%;
}
.Service p {
    border: 1px solid #33A99B;
    position: relative;
    text-align: center;
    min-height: 200px;
    margin: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(255,255,255,0.7);
    padding: 9px;
}
.Service img {
    position: relative;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#SpService p {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}
#SpService img {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.serviceCaption {
}
#Part {
    position: absolute;
    width: 100%;

}

.IconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    padding: 3% 1%;
    border: 1px solid #cccccc;
    border-radius: 25px;
    background-color: rgba(255,255,255,1);
    margin: 5% 0 4% 4%;
    position: relative;

}
.Line {
    width: 80%;
    height: 1px;
    background-color:#cccccc;
}
.IconContainer p {
    background-color: white;
    border-radi5us: 25px;
    text-align: center;
}




@media only screen and (max-width: 1440px) {
    .Alvand h1 {
        font-size: 2rem;
    }
    .Alvand h3 {
        font-size: 1rem;
    }
    .Alvand button {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1024px) {
    .Alvand h1 {
        font-size: 1.7rem;
    }
    .Alvand h3 {
        font-size: 0.8rem;
    }
    .Alvand button {
        font-size: 12px;
    }
}
@media only screen and (max-width: 900px) {
    .Alvand h1 {
        font-size: 1.4rem;
    }
    .Alvand h3 {
        font-size: 0.7rem;
    }
    .Alvand button {
        padding: 3%;
        margin-top: 3%;
    }
    .Alvand {
        top: 35%;
    }
}
@media only screen and (max-width: 768px){
    .Alvand {
        top: 30%;
    }
}
@media only screen and (max-width: 650px){
    .Alvand h1 {
        font-size: 1rem;
    }
    .Alvand button {
        font-size: 12px;
        padding: 4%;
    }
}